<div class="container mt-5 p-5 d-flex flex-column align-items-center">
  <h1 class="text-center"><strong>Restaurants List</strong></h1>
    <div class="row w-100">
  <div class="col-8 m-5 w-100">
    <ul class="list-group">
      <% @restaurants.each do |restaurant|%>
      <li class="list-group-item">
          <%= link_to restaurant.name, restaurant_path(restaurant), class: "text-decoration-none"%>
      </li>
      <% end %>
    </ul>
    <br>
  </div>
  </div>
  <%= link_to "Add Restaurant", new_restaurant_path, class: "btn btn-primary"%>
  </div>
